/*form*/
.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}
.form-header {
    margin-bottom: 5px;
    padding: 10px 20px;
}
.form-body {
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto 20px auto;
}
/* buttons */
button:focus {
    outline: 5px auto -webkit-focus-ring-color;
}
.btn-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 35px;
	margin-top: 25px;
}
.btn {
	padding: 10px 25px;
	font-weight: 600;
	text-transform: capitalize;
	border-radius: 6px;
	border: none;
	color: var(--light-color);
	cursor: pointer;
	-webkit-box-shadow: var(--btn-bx-s);
	box-shadow: var(--btn-bx-s);
}
.btn.primary {
	background-color: var(--color-scheme);
}
.btn.secondary {
	background-color: var(--sec-color-scheme);
}
.btn.default {
	background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--icon-color);
    box-shadow: none;
}
.btn:disabled {
	opacity: 0.85;
	cursor: auto;
	background: var(--mute-color-2);
	-webkit-box-shadow: unset;
	box-shadow: unset;
    color: var(--color-scheme);
}
/* form input */
.input-wrap {
    width: 100%;
    height: auto;
    margin-top: 20px;
    position: relative;
}
.input-wrap::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    content: "";
}
.input-group-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.input-group-wrap .input-wrap {
    margin-right: 10px;
}
.input-group-wrap .input-wrap:last-child {
    margin-right: unset;
}
.form-input__label {
    width: 100%;
    height: 100%;
    /* position: relative; */
}
.input-label {
    position: absolute;
    z-index: 1;
    background: var(--light-bg-color);
    left: 10px;
    bottom: calc(50% - 9px);
    padding: 0 6px;
    color: var(--placeholder-color);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1), bottom 150ms cubic-bezier(0.4,0,0.2,1), left 150ms cubic-bezier(0.4,0,0.2,1);
    pointer-events: none;
    user-select: none;
    transform-origin: top left;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    max-width: calc(100% - (10px + 24px));
}
.form-input {
    width: 100%;
    outline: none;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 4px;
    position: relative;
    background: var(--light-bg-color);
}
.form-input__wrap {
    position: relative;
    width: 100%;
}
.input-label, .form-input {
    font-size: 16px;
}
input.form-input {
    height: 40px;
}sylvester1
select.form-input {
    height: 100%;
}
textarea.form-input {
    height: 100px;
}
.form-input-error {
    color: var(--error-color);
    display: flex;
    align-items: center;
    padding-top: 2px;
    position: relative;
}
.form-input-error-icon path {
    fill: var(--error-color);
}
.form-input-error span {
    margin-left: 6px;
    margin-top: 2px;
    word-break: break-word;
    vertical-align: bottom;
    font-size: 12px;
}
.form-input-hint {
    position: absolute;
    bottom: calc(100% + 10px);
    right: 0;
    border: 1px solid var(--border-color);
    box-shadow: var(--sec-bx-s);
    padding: 10px;
    background: var(--light-bg-color);
    border-radius: var(--main-b-rad);
    max-width: 65%;
    word-break: break-word;
    transition: transform 150ms cubic-bezier(0.0, 0, 0.2, 1);
    transform: translate(0%, 50%);
    visibility: hidden;
    z-index: -1;
    pointer-events: none;
}
.switch-action {
    position: absolute;
    top: 50%;
    left: calc(100% - 28px);
    background: transparent;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transform: translateY(-50%);
}
.switch-action .show-icon,
.switch-action .hide-icon {
    width: 100%;
    height: 100%;
}
.input-wrap .form-input[jstypeswitch="text"] ~ .switch-action .hide-icon,
.input-wrap .form-input[jstypeswitch="password"] ~ .switch-action .show-icon {
    display: block;
}
.input-wrap .form-input[jstypeswitch="password"] ~ .switch-action .hide-icon,
.input-wrap .form-input[jstypeswitch="text"] ~ .switch-action .show-icon {
    display: none;
}
svg.show-icon path, svg.hide-icon path {
    fill: var(--icon-color);
}
.input-wrap:focus-within .form-input-hint {
    transform: translate(0, 0%);
    z-index: 2;
    visibility: visible;
}
.input-wrap:not([data-error='true']):focus-within .form-input,
.input-wrap[data-content='true'] .form-input {
    border-color: var(--color-scheme);
    border-width: 2px;
}
.input-wrap:focus-within .input-label,
.input-wrap[data-content='true'] .input-label {
    bottom: calc(100% - 12px);
    transform: scale(.78);
    left: 8px;
}
.input-wrap:not([data-error='true']):focus-within .input-label,
.input-wrap[data-content='true'] .input-label {
    color: var(--color-scheme);
}
.input-wrap[data-error='true'] .form-input {
    border-color: var(--error-color);
}
.input-wrap[data-error='true']:focus-within .form-input {
    border-color: var(--error-color);
    border-width: 2px;
}
.input-wrap[data-error='true']:focus-within .input-label,
.input-wrap[data-content='true'][data-error='true'] .input-label {
    color: var(--error-color);
}
.form-input:disabled {
    background: var(--mute-color);
    cursor: not-allowed;
    opacity: .2;
}
/* dropdown arrow */
.drop-arrow {
    background: var(--light-bg-color);
    width: 15px;
    height: 15px;
    border-style: solid;
    border-color: var(--border-color);
    transform: rotateZ(45deg);
    position: absolute;
    right: 10%;
}
.drop-arrow__down {
    border-width: 0 1px 1px 0;
    bottom: -8px;
}
.drop-arrow__up {
    border-width: 1px 0 0 1px;
    top: -8px;
}
/* table */
.table-wrap {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
	width: 100%;
	display: table;
	border-collapse: collapse;
	overflow-x: auto;
	border-spacing: 0;
}
.table td,
.table th {
	padding: 5px;
	vertical-align: top;
	border: 1px solid var(--border-color);
	text-align: left;
}
.table-wrap:not(.table-responsive) .table td,
.table-wrap:not(.table-responsive) .table th {
	word-break: break-word;
}
.table-responsive {
	overflow-x: auto;
}
.table td .form-input {
	width: 100%;
	position: unset;
	border: none;
	padding: unset;
	border-radius: unset;
}
.table td .form-input:focus {
	border-color: unset;
}
.table-striped .table tbody tr:nth-of-type(odd) {
	background-color: var(--mute-color);
}
/* inner notification */
.inner-notification {
    width: 100%;
    position: relative;
}
.inner-notification__content {
    border-width: 2px;
    border-style: solid;
    padding: 7px 12px;
    overflow-wrap: break-word;
}
.inner-notification__content.error {
    background-color: rgba(255,0,0,0.15);
    border-color: rgb(255,0,0);
}
.inner-notification__content.success {
    background-color: rgba(0,255,0,0.15);
    border-color: rgb(64, 210, 64);
}
.inner-notification__content.info {
    background-color: rgba(0,0,255,0.15);
    border-color: rgb(0, 0, 255);
}
