.uploder-wrap {
    width: 580px;
}
.uploder-wrap .box {
    padding: 40px 65px;
}
.uploder-wrap form {
    width: 100%;
}
.drag-drop__wrap {
    width: 100%;
    border: 2px dashed var(--border-color);
	border-radius: 4px;
    margin-top: 40px;
}
.drag-drop__wrap, .drag-drop__wrap .form-input__wrap, .drag-drop__wrap .form-input__wrap label {
    min-height: 130px;
}
.drag-drop__wrap.active {
    border-color: var(--color-scheme);
}
.drag-drop__wrap.active .drag-drop {
    -webkit-animation: pulsate 0.5s ease-in-out infinite both;
	animation: pulsate 0.5s ease-in-out infinite both;
}
.drag-drop__wrap [data-visible="true"] {
    display: block;
}
.drag-drop__wrap [data-visible="false"] {
    display: none;
}
.uploder-wrap .btn-wrap {
    margin-top: 0;
}
.uploder-wrap .icon {
    width: 24px;
    height: 24px;
}
@media (max-width: 768px) {
    .uploder-wrap .box {
        padding: 20px;
    }
}